<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFhL_FH0jO084eM5SQQ5wgsbE8wqg1vbc</string>
	<key>GCM_SENDER_ID</key>
	<string>718388617790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arm.plu3pro41t</string>
	<key>PROJECT_ID</key>
	<string>app242-9d91b</string>
	<key>STORAGE_BUCKET</key>
	<string>app242-9d91b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718388617790:ios:b0e77a98e8077fea10276f</string>
</dict>
</plist>